[submodule "testProject/lib/forge-std"]
	path = testProject/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "testProject/lib/openzeppelin-contracts"]
	path = testProject/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
